<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}" lang="ja">

<head>
	<title th:text="#{edit.memo}"></title>
</head>

<body>
	<div layout:fragment="content" class="container-md">
		<div class="alert alert-primary" th:text="#{confirm.edit.memo}"></div>
		<form th:action="@{/reading-record/edit/confirm}" method="post" th:object="${editForm}" class="row g-3">
			<fieldset disabled class="row g-3">
				<div class="col-12">
					<label for="title" class="form-label" th:text="#{title}"></label>
					<input type="text" class="form-control" th:field="*{title}">
				</div>
				<div class="col-md-4">
					<label for="title" class="form-label" th:text="#{author}"></label>
					<input type="text" class="form-control" th:field="*{author}">
				</div>
				<div class="col-md-4">
					<label for="startingDate" class="form-label" th:text="#{startingDate}"></label>
					<input type="date" class="form-control" th:field="*{startingDate}">
				</div>
				<div class="col-md-4">
					<label for="finishedDate" class="form-label" th:text="#{finishedDate}"></label>
					<input type="date" class="form-control" th:field="*{finishedDate}">
				</div>
				<div class="col-12">
					<label for="memos" class="form-label" th:text="#{memos}"></label>
					<textarea class="form-control" th:field="*{memos}"></textarea>
				</div>
			</fieldset>
			<input type="hidden" th:field="*{title}">
			<input type="hidden" th:field="*{author}">
			<input type="hidden" th:field="*{startingDate}">
			<input type="hidden" th:field="*{finishedDate}">
			<input type="hidden" th:field="*{memos}">

			<input type="hidden" th:field="*{id}">

			<div class="col-md-4"></div>
			<div class="col-md-4">
				<input type="submit" th:value="#{edit}" class="btn btn-primary"></input>
				<input type="submit" th:value="#{cancel}" name="cancel" class="btn btn-outline-primary"></input>
			</div>
		</form>
	</div>
</body>
</html>