<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}" lang="ja">

<head>
	<title th:text="#{entry.memo}"></title>
</head>

<body>
	<div layout:fragment="content" class="container-md">

		<div class="row g-3">
			<div class="container-md col-12 mt-2">
				<h2 class="mt-2" th:text="#{entry.memo}"></h2>
			</div>
			
		</div>
		<form th:action="@{/reading-record/entry/index}" method="post" th:object="${entryForm}" class="row g-3">
			<div class="col-12">
				<label for="title" class="form-label" th:text="#{title}"></label>
				<input type="text" class="form-control" th:field="*{title}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{title}"></div>
			</div>
			<div class="col-md-4">
				<label for="author" class="form-label" th:text="#{author}"></label>
				<input type="text" class="form-control" th:field="*{author}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{author}"></div>
			</div>
			<div class="col-md-4">
				<label for="startingDate" class="form-label" th:text="#{startingDate}"></label>
				<input type="date" class="form-control" th:field="*{startingDate}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{startingDate}"></div>
			</div>
			<div class="col-md-4">
				<label for="finishedDate" class="form-label" th:text="#{finishedDate}"></label>
				<input type="date" class="form-control" th:field="*{finishedDate}" th:errorclass="is-invalid" />
				<div class="invalid-feedback" th:errors="*{finishedDate}"></div>
			</div>
			<div class="col-12">
				<label for="memos" class="form-label" th:text="#{memos}"></label>
				<textarea class="form-control" th:field="*{memos}" th:errorclass="is-invalid"></textarea>
				<div class="invalid-feedback" th:errors="*{memos}"></div>
			</div>

			<div class="col-md-4"></div>
			<div class="col-md-4">
				<input type="submit" th:value="#{confirm}" class="btn btn-primary">
				<a href="/home" class="btn btn-success" th:text="#{back.home}"></a>
			</div>
		</form>



	</div>
</body>

</html>